@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 240px;
    background-color:#272d3467 ;
    z-index: 1;
}

.logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.logo-img {
    width: 40%;
    height: auto;
}

.logo-text {
    color: #fff;
    font-size: 1.4rem;
}

.logo-text:hover {
    color: #cdba6d;
}

nav{
    width: 60%;
    }

    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    li {
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        color: #fff;
    }

    li:hover {
        color: #cdba6d;
        cursor: pointer;
    }

    #search-icon {
        color: #fff;
        cursor: pointer;
    }

    #search-icon:hover {
        color: #cdba6d;
    }

    #menu-icon {
        display: none;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
    }
    .modal {
        width: 100%;
        height: 130vh;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
    }
    .home-container {
        background-image: url('imagens/background.jpg');
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 130vh;
        display: flex;
        justify-content: center;
    }
    .presentation-container {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        margin-top: 150px;
        padding: 10px;
        color: #fff;
        z-index: 1;
    }
    .presentation-container h3 {
        letter-spacing: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    .presentation-container h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    .presentation-container span {
        color: #cdba6d;
    }
    .presentation-container p {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .presentation-container button {
        width: 150px;
        height: 50px;
        background-color: #cdba6d;
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        border: 2px solid #cdba6d;
        font-size: 1rem;
        cursor: pointer;
    }
    .presentation-container button:hover {
        background-color: transparent;
        color: #fff;
    }